{{ 'custom-featured-blog.css' | asset_url | stylesheet_tag }}

<style>
  @media only screen and (min-width: 750px) {
    .custom-featured__blog {
        padding-bottom: {{ section.settings.padding-bottom}}px;
        padding-top: {{ section.settings.padding-top}}px;
    }
    {% if section.settings.blog.articles_count <= 2 %}
      .custom-featured__blog .flickity-prev-next-button.previous {
        width: 0;
        height: 0;
      }
      .custom-featured__blog .flickity-prev-next-button.next {
        width: 0;
        height: 0;
      }
    {% endif %}
  }
  @media screen and (max-width: 749px){
    {% if section.settings.blog.articles_count > 2 %}
      .custom-featured__blog.custom-flickity-arrows .flickity-prev-next-button.previous {
        left: 0;
        top: 25%;
      }
      .custom-featured__blog.custom-flickity-arrows .flickity-prev-next-button.next {
        right: 0;
        top: 25%;
      }
    {% endif %}
  }

</style>

<div class="custom-featured__blog {% if section.settings.blog.articles_count > 2 %} custom-flickity-arrows {% endif %} custom-featured__blog--{{ section.id }}">
  <div class="page-width">
    <div class="custom-featured__blog-main">
      <div class="custom-featured__blog-heading__container flex-space-center">
          <div class="custom-featured__blog-heading subtitle-text tm-blue-color">
            {%- if section.settings.blog_heading != blank -%}
              {{ section.settings.blog_heading }} 
            {%- else -%}
              {{ section.settings.blog.title }} 
            {%- endif -%}
          </div> 
        <div class="custom-featured__blog-viewall">
          <a class="category-viewall--link text-body" href="{{ section.settings.view_all_link }}">
            <span class="monsterrat-body">{{ section.settings.link_text |  upcase }}</span>
            <span>{% render 'icon-arrow' %}</span>
          </a>
        </div> 
      </div>
      <div class="custom-featured__blog-main__container">
        <div class="custom-featured__blog-main__flex">
          {%- for article in section.settings.blog.articles limit: section.settings.article_limit -%}
            <div class="custom-featured__blog-article__content">
              <div class="custom-featured__blog-article__content-inner">
                {% assign blogCoverImage =  article.metafields.custom.blog_cover_image %}
                {% assign blogFeaturedImage = article.featured_image %}

                {%- if blogCoverImage or blogFeaturedImage -%}
                  {% assign blogImage = "" %}
                  {% if blogCoverImage %}
                    {% assign blogImage = blogCoverImage %}
                  {% else %}
                    {% assign blogImage = blogFeaturedImage %}  
                  {% endif %}
                  
                  <a href="{{ article.url }}" class="custom-featured__article-image">
                    {% render "picture", class: "media media--blog-image", mobileSrc: blogImage, desktopSrc: blogImage %}
                  </a>
                {%- endif -%}
                <div class="custom-featured__blog-article__info">
                  <div class="custom-featured__blog-article__date caption-text helvetica-caption">
                    <span class="helvetica-caption">{{ article.published_at | time_tag: format: 'date' }}</span>
                  </div>
                  <div class="custom-featured__blog-article__title subtitle-text flex-space-center">
                    <span class="fe-article__title tm-blue-color helvetica-caption">{{ article.title }}</span>
                    <span class="article-share__button">
                      {% render 'share-icon' %}
                    </span>
                  </div>
                  <div class="custom-featured__blog-article__desc tm-blue-color text-body helvetica-caption">
                    {{ article.content | strip_html | truncatewords: 30 }}
                  </div>
                  <a href="{{ article.url }}" class="custom-featured__blog-article__url tm-blue-color caption-text helvetica-caption">
                    READ MORE
                  </a>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div> 
  </div>
</div>



{% schema %}
  {
    "name": "Custom Featured Blog",
    "settings": [
      {
        "type": "header",
        "content": "Custom Featured Blog"
      },
      {
        "type": "text",
        "id": "blog_heading",
        "label": "Heading",
        "info": "Empty if you want to show the blog title"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Enter link text",
        "default": "VIEW ALL ARTICLES"
      },
      {
        "type": "range",
        "id": "article_limit",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 4,
        "label": "Total Articles to Show"
      },
      {
        "type": "header",
        "content": "Section padding "
      },
      {
        "type": "range",
        "id": "padding-top",
        "label": "Top padding",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding-bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "default": 72
      }
    ],
    "presets": [
      {
        "name": "Custom Featured Blog"
      }
    ]
  }
{% endschema %}